form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    padding: 8px;
    font-size: 14px;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #1976d2;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}