.todo {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px  solid #1976d2;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.todo span {
    flex: 1;
}

.todo .done {
    text-decoration: line-through;
    opacity: 0.6;
    border-color: #2e7d32;
}