.todo {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px  solid blue;
    padding: 8px;
    margin-bottom: 6px;
}

.todo .done {
    text-decoration: line-through;
    opacity: 0.6;
    border-color: green;
}